/* Font
font-family: 'Noto Sans', sans-serif;
font-family: 'Zilla Slab', serif;
*/

///Color varriable
$color-primary: #0bbbc1;
$color-secondary: #373737;
$color-secondary-2: #888888;
$color-black: #000;
$color-white: #fff;
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}